.wc-mlm-sales-leader-report {
  width: 100%;
  max-width: 1000px;
  border-collapse: collapse;

  th {
    text-align: left;
    font-size: 1.2em;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    width: 25%;
  }

  tbody {
    tr:first-of-type {
      td {
        padding-top: 10px;
      }
    }
  }
}